<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="constrained">
      <h1>Great movies: the best films in recent history</h1>
      <img class="splash" src="./assets/splash.jpg">
      <h2>Here are the best-rated films from our critics (receiving 3.5 or 4 out of 4 stars) in the past five years.</h2>
    </header>

    <main class="app constrained">

      <input type="checkbox" id="show-filters">
      <label class="show-filters" for="show-filters">filters</label>
      <div class="filters">
        <h2>Rating</h2>
        <ul class="rating"></ul>
        <h2>Genre</h2>
        <ul class="category"></ul>
        <h2>Year</h2>
        <ul class="year"></ul>
      </div>

      <section class="listings">
      <% json.movies.sort(function(a, b) { return a.title < b.title ? -1 : 1 }).forEach(function(item) { %>
        <div class="item"
          data-genre="<%= item.genre %>"
          data-local="<%= item.local %>"
          data-link="<%= item.url %>"
          data-rating="<%= item.mpaa %>"
          data-review="<%= item.stars %>"
          data-length="<%= item.length %>"
        >
          <div class="wrapper">

            <img class="cover" src="./assets/posters/<%= item.poster %>">

            <div class="details primary">
              <h2 data-bound="title" class="title"><%= item.title %></h2>
              <h3 data-bound="director" class="director"><%= item.director %></h3>
              <h3 data-bound="cast" class="cast"><%= item.starring %></h3>

              <div class="meta">
                <span data-bound="year"><%= item.year %></span> - <%= item.genre.replace(/; /g, ", ") %>
              </div>

              <button class="expand-item">Show more</button>

              
              <div class="details secondary">

                <p data-bound="description" class="blurb"><%= item.description %></p>

                <ul class="meta">
                  <li> <%= item.stars %> stars
                  <li> Rated <%= item.mpaa %>
                  <li> <%= item.length %> minutes
                </ul>
                

                <% if (item.url) { %>
                <a class="review-link" href="<%= item.url %>" target="_blank">Read full review</a>
                <% } %>

              </div>
            </div>
          </div>

        </div>
      <% }) %>
        <div class="no-results">
          No results found
        </div>
      </section>

      <aside class="modal">
        <div class="backdrop"></div>
        <div class="frame">
          <a class="close-modal">&times;</a>
          <div class="content"></div>
          <nav class="stepper">
            <a class="previous in sequence">&larr; previous</a>
            <a class="next in sequence">next &rarr;</a>
          </nav>
        </div>
      </aside>

    </main>

    <ul class="credits constrained">
      <li> Developed by: Thomas Wilburn and Shirley Qiu
      <li> Additional research: Moira Macdonald
    </ul>

    <footer class="constrained">
      <%= t.include("partials/_dontMiss.html", { data: [{
        link: "https://www.seattletimes.com/entertainment/movies/seattles-historic-moviehouses/",
        image: "quads/exit.jpg",
        head: "Explore Seattle’s romantic — and vanishing — historic moviehouses"
      }, {
        link: "https://www.seattletimes.com/entertainment/movies/readers-reminisce-about-seattles-vintage-moviehouses-sad-to-know-it-is-gone-but-happy-its-part-of-my-memory/",
        image: "quads/theaters.jpg",
        head: "Readers reminisce about Seattle’s vintage moviehouses"
      }, {
        link: "https://www.seattletimes.com/entertainment/books/qa-tom-hanks-on-seattle-his-love-of-typewriters-and-the-free-press/",
        image: "quads/hanks.jpg",
        head: "Tom Hanks on Seattle, his love of typewriters, and the free press"
      }, {
        link: "https://www.seattletimes.com/entertainment/movies/new-on-netflix-in-december-bright-guardians-of-the-galaxy-vol-2/",
        image: "quads/bright.jpg",
        head: "New on Netflix in December: ‘Bright,’ ‘Guardians of the Galaxy Vol. 2’"
      }]}) %>
    </footer>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
